<div class="container">
  <div class="navbar">
  </div>
  <div class="scroll">
      <button class="btn btn-success">
      <i class="fa fa-arrow-circle-up" aria-hidden="true"></i> Do góry
  </button>
  </div>

  <div class="row">     
      <div class="col-md-9">
          <a>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum.
          </a>
          <a>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum.
          </a>
          <a>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                  culpa qui officia deserunt mollit anim id est laborum.
              </a>
      
      </div>
          
      <div class="col-md-3">
          <h3>Szybki kontakt</h3>
          <a class="fab fa-facebook-square" href="https://www.facebook.com/Fiolcyk" target="_blank" aria-hidden="true"></a>
          <a class="fab fa-instagram" href="" target="_blank" aria-hidden="true"></a>
          <a class="fas fa-envelope-square" href="" target="_blank" aria-hidden="true"></a>
      </div>
  </div>
</div>

<div class="footer">
  <a class="footerText">Copyrights © Damian Fiołek | 2019</a>
</div>


