<div class="container">
  <div class="navbar">
  </div>
  
   
<div class="containerForm">
  <div class="form">
     
          <form>
              <div class="form-group">
                  <label for="name">Podaj imię</label>
                  <input type="text" class="form-control" id="name" placeholder="podaj imie">
                  <label for="secondname">Podaj nazwisko</label>
                  <input type="text" class="form-control" id="secondname" placeholder="podaj nazwisko">
                  <label for="email">Podaj email</label>
                  <input type="email" class="form-control" id="email" placeholder="podaj e-mail">
                  <small id="emailHelp" class="form-text text-muted">Nie udostępniamy twojego maila osobom
                      trzecim.</small>
              </div>
              <div class="form-group">
                  <label>Płeć</label> 
                  <label for="men">Mężczyzna</label>
                  <input type="radio" name="exampleRadios" id="men" unchecked>
                  <label for="women">Kobieta</label>
                  <input type="radio" name="exampleRadios" id="women" unchecked>
              </div>
              <div class="form-group">
                  <label for="area">Opis</label>
                  <textarea class="form-control" id="area"></textarea>
              </div>
              <div class="form-group">
                  <label for="wiek">Wiek:</label>
                  <input type="" class="" id="wiek">
              </div>
              <div class="form-group">
                  <label for="stan">Stan cywilny</label>
                  <select class="form-control" id="stan">
                      <option>Panna/Kawaler</option>
                      <option>Mężatka/Żonaty</option>
                  </select>
              </div>
              <div class="form-group footForm">
                  <button type="reset" class="btn btn-outline-secondary">Wyczyść</button>
                  <button type="submit" class="btn btn-outline-secondary">Wyślij</button>
              </div>

          </form>
      
  </div>
  </div>
</div>

<div class="footer">
  <a class="footerText">Copyrights © Damian Fiołek | 2019</a>
</div>

